/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;  /* Darker background for the body */
}

img {
  width: 30%;
  margin-bottom: 5%;
}
/******************************************
/* LAYOUT
/*******************************************/
.calculator {
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #1e2125;  /* Darker background for the calculator */
  overflow: hidden;
}

.display {
  font-size: 2em;
  padding: 20px;
  background-color: #232629;
  border-bottom: 1px solid #444;
  text-align: right;
  color: #e5e5e5;  /* Light text color for the display */
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 1 0 25%; /* flex-grow, flex-shrink, flex-basis */
  padding: 20px;
  font-size: 1.5em;
  border: none;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  background-color: #32363b;  /* Darker background for buttons */
  color: #e5e5e5;  /* Light text color for the buttons */
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #41464b;  /* Slightly lighter background for hover effect */
}

button:last-child {
  border-right: none;
}

.clear-btn {
  width: 100%;
  padding: 20px;
  font-size: 1.5em;
  border: none;
  background-color: #f44336;  /* Red color for clear button for emphasis */
  color: white;
}

.clear-btn:hover {
  background-color: #e53935;  /* Slightly darker red for hover effect */
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

.modal-content {
  background-color: #1e2125;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-content > h2 {
  color: goldenrod;
}
.close {
  color: #e5e5e5;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f44336;
  text-decoration: none;
  cursor: pointer;
}
